html, body{
    height:100%;
}
body{
    color: #7A747F;
    margin: 0 0 0 0;
    background-image: linear-gradient(to bottom right, #FEEAFA 50%, #CBC0D3 50%);
    
}

.Score{
    /*border: solid 2px;
    border-color: orange;*/
    padding-top: 1vh;
    min-width: .3vh;
    min-height: .3vh;
    text-align: center;
    font-size: 3vh;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.Game{
    display: flex;
    align-content: center;
    flex-wrap: wrap;
    margin:auto;
    padding-bottom: 2vh;
    border: solid 2px;
    border-color:  #818EAA;
    border-radius: 5vh 5vh 5vh 5vh;
    background-color:  #DEE2FF;
    min-width: .3vh;
    min-height: .3vh;
    max-width: 100vh;

    height: 100%;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    align-items: center;
    justify-content: center;
}
.Display{
    border-left-style: double;
    border-left-color: white;
    border-left-width: 15px;
    /*S
    border-bottom-style: solid ;
    border-bottom-color: white;
    border-bottom-width: 4px;*/

    border-top-style: double;
    border-top-color: white;
    border-top-width: 15px;

    border-right-style: double;
    border-right-color: white;
    border-right-width: 15px;
   
    border-radius: 5vh 5vh 0vh 0vh;
    background-color: white;


    /* Removes the color behind the border */
    -moz-background-clip: border;     /* Firefox 3.6 */
    -webkit-background-clip: border;  /* Safari 4? Chrome 6? */
    background-clip: border-box;      /* Firefox 4, Safari 5, Opera 10, IE 9 */
				
    -moz-background-clip: padding;     /* Firefox 3.6 */
    -webkit-background-clip: padding;  /* Safari 4? Chrome 6? */
    background-clip: padding-box;      /* Firefox 4, Safari 5, Opera 10, IE 9 */
				
    -moz-background-clip: content;     /* Firefox 3.6 */
    -webkit-background-clip: content;  /* Safari 4? Chrome 6? */
    background-clip: content-box;      /* Firefox 4, Safari 5, Opera 10, IE 9 */
  
    align-items: center;

}

.Img > img {
    width: 50%;
    height: 50%;
}

.DoubleDisplay.row {
    margin-top: 2vh;
    border-left-style: double;
    border-left-color: white;
    border-left-width: 15px;
    /*S
    border-bottom-style: solid ;
    border-bottom-color: white;
    border-bottom-width: 4px;*/

    border-top-style: double;
    border-top-color: white;
    border-top-width: 15px;

    border-right-style: double;
    border-right-color: white;
    border-right-width: 15px;
   
    border-radius: 5vh 5vh 0vh 0vh;
    background-color: white;
    
    margin-left: .2vh;
    margin-right: .2vh;


    /* Removes the color behind the border */
    -moz-background-clip: border;     /* Firefox 3.6 */
    -webkit-background-clip: border;  /* Safari 4? Chrome 6? */
    background-clip: border-box;      /* Firefox 4, Safari 5, Opera 10, IE 9 */
				
    -moz-background-clip: padding;     /* Firefox 3.6 */
    -webkit-background-clip: padding;  /* Safari 4? Chrome 6? */
    background-clip: padding-box;      /* Firefox 4, Safari 5, Opera 10, IE 9 */
				
    -moz-background-clip: content;     /* Firefox 3.6 */
    -webkit-background-clip: content;  /* Safari 4? Chrome 6? */
    background-clip: content-box;      /* Firefox 4, Safari 5, Opera 10, IE 9 */

}

.DualButtons {
    width: 100%;
}

.Dialog{
    margin:auto;
    border: solid 2px;
    border-color: #CBC0D3;
    border-radius: 3vh 3vh 3vh 3vh;
    background-color: #FEEAFA;
    min-width: .3vh;
    min-height: .3vh;
    width: 100%;
}

.Dialog.solo{
    margin: 2vh;
    padding-bottom: 2vh;
    width: 100%;
}

.Dialog * p{
    margin-top: 1.2vh;
}

.Submit.ButtonOverride{
    height: auto;
    margin-top: 1.2vh;
    margin-left: 1.2vh;
    margin-right: 1.2vh;
    float: right;
}

.Game > button{
    justify-content: space-evenly;
}

.Buttons {
    justify-content: center;
    display: flex;
}

.Horizontal {
    margin: 1vh 0;
}

.ButtonOverride{
    height: 100%;
    color: #26292f;
    background-color: #A1AFA0;
    border-color: #798478;
}

.ButtonOverride:hover{
    color: #FEEAFA;
    border: 2px solid;
    background-color: #948C9A;
    border-color: #948C9A;
}

.row {
    width: 100%;
    margin: auto;
}

@media screen and (max-width: 600px) {
    .container {
        padding: 0;
        padding-bottom: 2vh;
    }
    .col {
        padding: .5vh;
    }
    .Dialog {
        padding: 1vh;
        border-radius: 1.5vh;
    }
}