
.Score{
    border: solid 2px;
    border-color: orange;
    min-width: .3vh;
    min-height: .3vh;
}
.Game{
    margin:auto;
    border: solid 2px;
    border-color:  #336699;
    border-radius: 5vh 5vh 2vh 2vh;
    background-color:  #6699cc;
    min-width: .3vh;
    min-height: .3vh;
    width: 95%;
}
.Display{
    display: flex;
    align-items: center;
    justify-content: center;

    border-left-style: double;
    border-left-color: white;
    border-left-width: 15px;
    /*S
    border-bottom-style: solid ;
    border-bottom-color: white;
    border-bottom-width: 4px;*/

    border-top-style: double;
    border-top-color: white;
    border-top-width: 15px;

    border-right-style: double;
    border-right-color: white;
    border-right-width: 15px;
   
    border-radius: 5vh 5vh 0vh 0vh;
    background-color: white;
    


    /* Removes the color behind the border */
    -moz-background-clip: border;     /* Firefox 3.6 */
    -webkit-background-clip: border;  /* Safari 4? Chrome 6? */
    background-clip: border-box;      /* Firefox 4, Safari 5, Opera 10, IE 9 */
				
    -moz-background-clip: padding;     /* Firefox 3.6 */
    -webkit-background-clip: padding;  /* Safari 4? Chrome 6? */
    background-clip: padding-box;      /* Firefox 4, Safari 5, Opera 10, IE 9 */
				
    -moz-background-clip: content;     /* Firefox 3.6 */
    -webkit-background-clip: content;  /* Safari 4? Chrome 6? */
    background-clip: content-box;      /* Firefox 4, Safari 5, Opera 10, IE 9 */
}
.Dialog{
    margin:auto;
    border: solid 2px;
    border-color: black;
    border-radius: 3vh 3vh 3vh 3vh;
    background-color: white;
    min-width: .3vh;
    min-height: .3vh;
}
.Submit{
    margin-top: 5px;
    float: right;
}