.logo{
    margin: auto;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 3.5vh;
    color: #BACFE2;
    min-width: .3vh;
    min-height: .3vh;

    display: inline-flex;
    justify-content: center;
    align-items: flex-end;
    
    /*
    border-left-style: double;
    border-left-width: 4px;
    border-left-color: #336699;
    border-bottom-style: double;
    border-bottom-width: 4px;
    border-bottom-color: #336699;
    border-bottom-left-radius: 4vh;
    */
}
div.conversation{
    padding-left: .2vh;
    padding-right: 2.2vh;
    color: #898980;
    border-bottom-style: dotted;
    border-bottom-width: 4px;
    border-bottom-color: #575761;
}

div.oracle{
    padding-left: .2vh;
    padding-right: 2.2vh;
    color: #898980;
    border-bottom-style: dotted;
    border-bottom-width: 4px;
    border-bottom-color: #575761;
}

div.letterC{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', serif;
    color: #575761;
    padding-left: 2.2vh;
    padding-right: 2.2vh;
    font-size: 5vh;
    border: 4px double #575761;
    border-radius: 5vh;
}
div.letterO{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', serif;
    color:#575761;
    padding-left: 2.2vh;
    padding-right: 2.2vh;
    font-size: 5vh;
    border: 4px double #575761;
    border-radius: 5vh;
}